@page
@model DBro.Web.Pages.DaftarModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Registrasi";
    Layout = "_Layout";
}

<div class="centered px-8 pt-14 pb-16" style="height: 500px">
    <img class="absolute" style="top: -90px; left: 77px" src="~/images/logo_dashboard.png" />
    <h1 class="text-center font-bold" style="color: #505050">Daftar</h1>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Form.Email"></label>
            <input asp-for="Form.Email" class="form-control" />
            <span asp-validation-for="Form.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Form.Password"></label>
            <input asp-for="Form.Password" type="password" class="form-control" />
            <span asp-validation-for="Form.Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Form.Nama"></label>
            <input asp-for="Form.Nama" class="form-control" />
            <span asp-validation-for="Form.Nama" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Form.JenisKelamin"></label>
            <select asp-for="Form.JenisKelamin" asp-items="Html.GetEnumSelectList<JenisKelamin>()" class="form-control"></select>
            <span asp-validation-for="Form.JenisKelamin" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Form.TanggalLahir"></label>
            <input asp-for="Form.TanggalLahir" type="date" class="form-control" />
            <span asp-validation-for="Form.TanggalLahir" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Form.Alamat"></label>
            <input asp-for="Form.Alamat" class="form-control" />
            <span asp-validation-for="Form.Alamat" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Form.Telepon"></label>
            <input asp-for="Form.Telepon" class="form-control" />
            <span asp-validation-for="Form.Telepon" class="text-danger"></span>
        </div>
        <div class="d-flex gap-3">
            <button class="mud-button-root mud-button mud-button-filled mud-button-filled-size-medium mud-ripple wp-50" style="background-color: rgba(61,203,108,1); color: white;" role="button" type="submit">Daftar</button>
            <a class="mud-button-root mud-button mud-button-filled mud-button-filled-size-medium mud-ripple wp-50" style="background-color: #9E9E9E; color: white;" href="/login">Kembali</a>
        </div>
    </form>
</div>