@page
@model DBro.Web.Pages.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<div class="centered px-8 pt-14 pb-16">
    <img class="absolute" style="top: -90px; left: 77px" src="~/images/logo_dashboard.png" />
    <h1 class="text-center bold" style="color: #505050">Login</h1>
    <form method="post" class="hp-100 d-flex flex-column">
        <div class="form-group field">
            <input asp-for="LoginDTO.Email" class="form-field" placeholder="Email" id="email" required autofocus />
            <label for="email" class="form-label">Email</label>
            <span class="mud-error-text" asp-validation-for="LoginDTO.Email"></span>
        </div>
        <div class="form-group field">
            <input asp-for="LoginDTO.Password" class="form-field" placeholder="Password" id="password" required />
            <label for="password" class="form-label">Password</label>
            <span class="mud-error-text" asp-validation-for="LoginDTO.Password"></span>
        </div>
        <div class="flex-grow-1">
            @if (!String.IsNullOrEmpty(Model.Notif))
            {
                <div class="alert alert-success">
                    @Model.Notif
                </div>
            }
        </div>
        <div class="d-flex gap-3">
            <button class="mud-button-root mud-button mud-button-filled mud-button-filled-size-medium mud-ripple wp-100" style="background-color: rgba(61,203,108,1); color: white;" role="button" type="submit">Login</button>
            @* <a class="mud-button-root mud-button mud-button-filled mud-button-filled-size-medium mud-ripple wp-50" style="background-color: #9E9E9E; color: white;" href="/daftar">Daftar</a> *@
        </div>
    </form>
</div>