@page "/dashboard"
@inherits DashboardBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>

<p>Tes Dashboard</p>
<br />
<br />
Email User yang sedang login : @Layout.CurrentUser.Email