@page "/dashboard"
@layout AdminLayout
@inherits DashboardBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Dashboard</PageTitle>

<MudStack>

    <p>Email User yang sedang login : @Layout.CurrentUser.Email</p>
</MudStack>